.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/background/main.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  }

  
.auth-form-conrtainer, .login-form, .signup-form{
  background-position: left top;
  display: flex;
  flex-direction: column;  
  margin-top: 300px;
  }


  
/*label{
  text-align : left;
  padding : 0.25rem 0;
}*/

input {
  margin-top: 10px;
  margin: 0.5 rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #92DC8C;
}

button{
  border: none;
  background-color: #51BE2B;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.link-btn {
  background: none;
  color: aliceblue;
  text-decoration: underline;
}
